.pick {
	background-color: red;
	height:350px;
	margin:10px;
}

.chosen {
	background-color:orange;
	border:yellow 5px solid;
	height:350px;
	margin:10px;
}

.enemies {
	background-color: black;
	height:350px;
	margin:10px;

}

.defender {
	background-color: purple;

}

.attack {
	background-color: blue;

}